---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Acerca del sitio ">
    <h1>About</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, unde possimus beatae praesentium laboriosam asperiores saepe, autem quas quaerat placeat rerum expedita dignissimos voluptatibus vel esse exercitationem repudiandae culpa fugit quo dolores deserunt quasi eaque. Necessitatibus quia id veritatis? Tempora eaque, nulla laborum accusantium, id cupiditate nihil doloribus ratione blanditiis praesentium, corrupti voluptas consequuntur eos! Perspiciatis nisi laborum repellat nam porro autem ratione consectetur sunt, tempora magnam earum similique cum quaerat numquam quam delectus praesentium. Explicabo dicta cum necessitatibus voluptas. In rerum id laboriosam dicta eaque nemo culpa nisi obcaecati illum eos eius magni necessitatibus doloribus unde, dignissimos deserunt dolorum?</p>
</Layout>
